<h3>Create Employee</h3>
<!-- <form (ngSubmit)="onSubmit()"> -->
<form>
  <div class="form-group">
    <label>Name:</label>
    <input type="text" class="form-contrl" id="name" [(ngModel)]=employee.name name="name">
  </div>

  <div class="form-group">
    <label>Office:</label>
    <input type="text" class="form-contrl" id="office" [(ngModel)]=employee.office name="office">
  </div>

  <div class="form-group">
    <label>Salary:</label>
    <input type="text" class="form-contrl" id="salary" [(ngModel)]=employee.salary name="salary">
  </div>

  <button class = "btn btn-success" type="submit" (click)="onSubmit()" >AddEmp</button>

</form>